<h1>Available Translations</h1>
<div align="right">
  <md-button class="md-raised" aria-label="Create Translation" ng-click="showCreateTranslation($event)">
     Create Translation
  </md-button>
</div>
<md-list>

  <md-list-item class="md-3-line" ng-repeat="translation in translations_data">
    <div class="md-list-item-text">
      <h4>Bible: {{translation.bibleId}}</h4>
      <p>Version: {{translation.version}}</p>
      <p>Language Code: {{translation.langCode}}</p>
    </div>
    <p align="right">
      <md-button class="md-primary" ng-href="/#/{{bible_id}}/translations/{{translation.bibleId}}/books">Details</md-button>
    </p>
  </md-list-item>
</md-list>
{{translations_data}}
